body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
  }
  
  .navbar {
    background-color: #0ee2df;
    position: sticky;
    top: 0;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
  }
  
  .navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
  }
  
  .navbar li {
    padding: 15px 20px;
  }
  
  .navbar a {
    position: relative;
    text-decoration: none;
    color: #fff;
  }
  
  /* Add hover animation for navbar links */
  .navbar a:hover {
    color: #000; /* Black color on hover */
  }
  
  /* Hide the icon and show the text when not hovering */
  .navbar a i {
    display: none;
  }
  
  .navbar a:hover i {
    display: inline;
  }
  
  .navbar a::before {
    content: ""; /* This is an empty pseudo-element used to create the underline effect */
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #ff0000; /* Red color */
    transform: scaleX(0); /* Initially, the fill is 0% */
    transform-origin: left;
    transition: transform 0.2s ease-in; /* Adjust the speed here (0.2s in this example) */
  }
  
  .navbar a:hover::before {
    transform: scaleX(1); /* On hover, the fill is 100% (entire width) */
  }
  
  /* Font Awesome Icons */
  .navbar a[data-icon]::before {
    content: attr(data-icon);
  }
  
  /* Icon Styles */
  .navbar a[data-icon] i {
    font-size: 16px; /* Adjust icon size as needed */
  }
  
  /* Avatar Styles */
  .avatar {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
    overflow: hidden;
  }

  /* Home Section Styles */
.home-section {
    height: 100vh; /* Adjust the height of the home section as needed */
    background-image: url("home_bg.jpg"); /* Replace "home_bg.jpg" with the path to your background image */
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
  }
  
  .home-content {
    text-align: left;
    color: #000000;
  }
  
  .home-content h1 {
    font-size: 36px;
  }
  
  .home-content p {
    font-size: 18px;
    margin-top: 20px;
  }